@import '../base/variables';

.authentication {
    height: 50px;

    > .button--flat {
        float: right;
    }
}

.breakpoint-desktop  .authentication {

    > .button--flat {
        margin-top: 15px;
        background: #ffffff;
        color: $color-blue;
        cursor: pointer;
        width: 90px;
        height: 30px;
        border: 1px solid #007de4;
        border-radius: 4px;
        margin-right: 5px;
        margin-left: 5px;
    }
}
