@import '../base/variables';

.button--flat {
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    border: 0;
    background: transparent;
    color: $color-blue;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
    outline: 0;
}

.button--flat:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: $color-blue;
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.button--flat:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.button--raised {
    background: #ffffff;
    color: $color-blue;
    cursor: pointer;
    width: 90px;
    height: 30px;
    border: 1px solid #007de4;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

.button--raised--fill {
    background: $color-blue;
    color: #ffffff;
    cursor: pointer;
    width: 90px;
    height: 30px;
    border: 1px solid #007de4;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
}