@import '../base/variables';

.breakpoint-phone{
    .edit-form {
        margin: 20px 0;
    }

    .edit-form__group { 
        position: relative; 

    }

    .show-form {
        .edit-form__group { 
            position: relative; 
            height: 40px;
            margin-bottom: 40px;

        }
    }
}




/* COMMON */
.edit-form__dialog {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 200;
    margin-top: -75px;
    margin-left: 260px;
    box-shadow: 0px 0px 5px 1px rgba(171, 171, 171, 0.60);

    &.-is-visible {
        display: block;
    }
}

.edit-form__dialog:before,
.edit-form__dialog:after {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 14px solid #FFFFFF;
    position: absolute;
    content: '';
    top: 15px;
    left: -14px;
}
.edit-form__dialog:before {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 15px solid #CECECE;
    top: 13px;
    left: -15px;
}

.edit-form__dialog__containter {
    position: relative;
    padding: 40px 20px 5px 20px;
}

.edit-form__group {
    position: relative;
}

.edit-form__dialog__buttons {
    width: 220px;
    margin: 20px auto;
}




/* FORM ELEMENTS */ 


.text-input	{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-form-light-gray;
    color: $color-form-dark-gray; 
}
.text-input:focus { 
    outline: none; 
}
.text-input__label {
    text-transform: uppercase;
    color: $color-form-light-gray; 
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
}
.text-input__bar {
    position: relative; 
    display: block; 
    width: 300px;
}
.text-input__bar:before, 
.text-input__bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: $color-form-light-gray;
    transition: 0.2s ease all; 
}
.text-input__bar:before {
    left: 50%;
}
.text-input__bar:after {
    right: 50%; 
}
.text-input__highlight{
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.text-input:focus ~ .text-input__label, 
.text-input:valid ~ .text-input__label {
    top:-20px;
    font-size: 12px;
}
.text-input:focus ~ .text-input__bar :before, 
.text-input:focus ~ .text-input__bar :after {
    width: 50%;
}
.text-input:focus ~ .text-input__highlight {
    animation: inputHighlighter 0.3s ease;
}

.edit-form__group__item {
    display: inline-block;
    background: #f1f1f1;
    padding: 0 20px;
    height: 30px;
    vertical-align: top;
    margin-bottom: 10px;
    
    > h4 {
        margin: 8px 0 0 0;
        font-size: 14px;
    }

    > .edit-form__group__text {
         margin: 5px 0 0 0;
         font-size: 14px;

         > .profile__item__icon {
            font-size: 16px;
            margin-right: 10px;
         }
    }
}

.edit-form__group__button {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 30px;
    border: 0;
    background: #e0e0e0;
    cursor: pointer;
    margin-bottom: 30px;
}

.edit-form__group__button:focus,
.edit-form__group__button:hover {
    background: $color-blue;
    color: #ffffff;
}