@import '../base/variables';

#profile__top {
    .profile__image-wrapper {
        overflow: hidden;
        position: relative;
        width: 120px;
        height: 120px;
        display: block;
        margin: auto;
    }

    .profile__image {
        background-image: url('../images/profile.jpg');
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        transform: scale(1.6);
        background-position: -25px 30px;
        background-repeat: no-repeat;
    }

    .profile__info h1 {
        color: $color-dark-gray;
        font-size: 1.3em;
        text-align: center;
        font-weight: 300;
    }

    .profile__item {
        padding: 2px;
        font-size: 12px;
        color: $color-light-gray;
        
        > .text--bold {
            font-weight: bold;
            color: $color-dark-gray;
        }

        > .profile__item__icon {
            font-size: 20px;
            margin-right: 5px;
        }
    }

    .profile__stars {
        color: $color-blue;
        font-size: 18px;
    }

    .profile__followers .profile__item__icon {
        vertical-align: middle;
    }

    .profile__image-upload {
        display: none;
    }

    .profile__image-upload__button {
        display: block;
        width: 200px;
        height: 40px;
        margin: auto;
        background: none;
        border: 1px solid $color-light-gray;
        color: #7a7d7d;
        cursor: pointer;
        border-radius: 4px;
        font-size: 13px;
        font-weight: bold;

        > .profile__item__icon {
            font-size: 25px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}


#about-tab-page {
    .page-title {
        display: inline-block;
        vertical-align: top;
        width: 150px;
    }
    .page-action {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        float: right;
    }
    .form-button {
        display: inline-block;
    }
    .form-edit-button {
        display: none;
    }

    .page-action__button {
        width: 30px;
        height: 30px;
        background: #eeeeee;
        color: $color-dark-gray;
        border: 0;
        cursor: pointer;
    }

    .page-action__button:focus,
    .page-action__button:hover {
        background: $color-blue;
        color: #ffffff;
    }

    .edit-form__group {
        .text-input {
            display: inline-block;
            background: none;
            width: 200px;
            margin-top: 5px;

            &.name {
                font-size: 24px;
                font-weight: bold;
                margin-top: 0;
            }
        }

        .text-input[disabled] {
            background: none;
        }

        .form-icon {
            display: inline-block;
            font-size: 20px;
            vertical-align: middle;
            margin-right: 5px;
        }
        .text-input__highlight {
            display: none;
        }
        .text-input__bar {
            display: none;
        }
        .text-input__label {
            display: none;
        }
    }

    &.show-form {
        .page-action {
            z-index: 200;
            width: 150px;

            .form-button {
                display: none;
            }
            .form-edit-button {
                display: inline-block;
            }

            > .button--flat {
                display: inline-block;
                width: 60px;
            }
        }

        .edit-form__group {
            .text-input {
                border-bottom: 1px solid $color-form-light-gray;
                width: 100%;
                box-sizing: border-box;

                &.name {
                    font-weight: normal;
                    font-size: 16px;
                }
            }

            .form-icon {
                display: none;
            }
            .text-input__highlight {
                display: block;
            }
            .text-input__bar {
                display: block;
            }
            .text-input__label {
                display: block;
            }
        }       
    }
}

.breakpoint-phone #about-tab-page {
    .edit-form__group {
        .text-input {
            border: 0;
        }
    }
    &.show-form {
        .edit-form__group {
            .text-input {
                border-bottom: 1px solid $color-form-light-gray !important;
            }
        }
    }
}

.breakpoint-desktop #about-tab-page {
    .edit-form__group {
        .form-icon {
            display: inline-block;
        }
        .text-input {
            border: 0;
            width: 210px;
        }
        .text-input__label {
            display: none;
        }
    }
    .edit-form__dialog {
        .text-input {
            border-bottom: 1px solid $color-form-light-gray;
        }
        .text-input__highlight {
            display: block;
        }
        .text-input__bar {
            display: block;
        }
        .text-input__label {
            display: block;
        }
    }
}