@import '../base/variables';

.tab-navigation {
    background: $color-bg-light;
    height: 47px;
    //overflow: auto;
    padding: 0 10px;
    box-shadow: 0px 0px 5px 1px rgba(171, 171, 171, 0.60);
    
    overflow-y: hidden;
    overflow-x: auto;
    
    -ms-overflow-style: none;   // IE fix -- MUST TEST
    overflow: -moz-scrollbars-none; // Firefox fix

}

.tab-navigation__tab {
    position: relative;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    color: $color-dark-gray;
    font-size: 12px;
    font-weight: bold;
    z-index: 150;

    &.-is-active {
        border-bottom: 3px solid $color-blue;
    }
}

.tab-content {
    padding-top: 20px;
    //padding: 20px;

    > .tab-content__page {
        padding: 20px;
        background: $color-bg-light;
        box-shadow: 0px 0px 5px 1px rgba(171, 171, 171, 0.60);
        font-size: 12px;
        color: $color-light-gray;
        min-height: 300px;
    }
}


.tab-navigation__container {
    position: relative;
    width: 480px;
    height: 50px;
}