/** ******************************************** **
    COMMON 
 ** ******************************************** **/
.app-layout {
    width: 100%;
}

#profile__top {
    margin-bottom: 20px;
    padding: 0 20px;
}