/** ******************************************** **
    DESKTOP APP LAYOUT 
 ** ******************************************** **/
.breakpoint-desktop .app-layout {
    width: 760px;
    margin: 30px auto;
}

/** ******************************************** **
    DESKTOP PROFILE TOP 
 ** ******************************************** **/
.breakpoint-desktop #profile__top {
    background: $color-bg-light;
    box-shadow: 0px 0px 5px 1px rgba(171, 171, 171, 0.60);
    height: 280px;

    .profile__image-upload {
        display: block !important;
        padding: 10px 0;
    }

    .profile__image-wrapper {
        //margin-top: 40px;
        display: inline-block;
        vertical-align: top;
        //height: 100px;
        position: absolute;
        width: 150px;
        height: 150px;
        z-index: 200;
    }

    #profile-info {
        width: 300px;
        display: inline-block;

        .profile__info {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            margin-left: 180px;
            
            > h1 {
                text-align: left;
            }
        }
    }

    .profile__additional-info {
        display: inline-block;
        vertical-align: top;
        width: 180px;
        margin-top: 30px;
        float: right;
    }

    .profile__stars {
        display: inline-block;
    }

    .profile__reviews {
        display: inline-block;
        float: right;
        margin-top: 5px;
    }

    .profile__followers {
        display: block;
        float: right;
        margin-top: 75px;
        margin-left: 80px;
        z-index: 300;
        position: absolute;
    }
}

/** ******************************************** **
    DESKTOP TAB NAVIGATION
 ** ******************************************** **/
.breakpoint-desktop .tab-navigation {
    margin-top: -68px;
    padding-left: 180px;
    width: 570px;
    position: absolute;
}


.breakpoint-desktop #about-tab-page {
    .page-action {
        display: none;
    }

    .edit-form__group-item {
        width: 250px;
        display: inline-block;
        background: #f5f5f5;
        padding-left: 15px;
        height: 45px;

    }

    .edit-form__group__button {
        display: inline-block;
        height: 45px;
        width: 45px;
    }
}
 




    