/** ******************************************** **
    PHONE PROFILE TOP 
 ** ******************************************** **/
.breakpoint-phone #profile__top {
    #profile-info {
        width: 100%;
    }
    .profile__followers {
        margin-top: 15px;
    }
}

.breakpoint-phone #about-tab-page {
    .edit-form__group__button {
        display: none;
    }
}